body {
      margin: 0;
      padding: 0;
    }
    
    table {
      width: 100%;
      background-color: #ffffff;
      border: none;
      border-collapse: collapse;
      font-family: 'Roboto', sans-serif;
    }
    table thead {
      font-size: 1.25rem;
      padding: .5em 0 .5em 1em;
      background-color: #00a9ff;
      border: none;
      border-right: 2px solid #f1f1f1;
      border-bottom: 3px solid #bdbdbd;
      color: #ffffff;
      font-weight: 400;
      text-align: left;
    }
    table thead th:last-of-type {
      border-right: none;
    }
    table tbody tr:nth-of-type(even) {
      background-color: #f1f1f1;
    }
    table tbody td {
      padding: 1em;
      border-top: none;
      border-right: 1px solid #C1C3D1;
      border-bottom: 1px solid #C1C3D1;
      border-left: none;
    }
    .edit,
    .trash,
    .new-row {
      text-transform: uppercase;
      transition: .5s ease;
    }
    .edit:hover,
    .trash:hover,
    .new-row:hover {
      cursor: pointer;
      background-color: #e0e0e0;
    }
    .add-row {
      text-align: center;
    }
    .trash {
      color: #ff0000;
    }
    input[type="text"] {
      padding-left: 0.5rem;
      margin-left: -0.5rem;
      width: 100%;
      line-height: 1.8rem;
      font-size: 1rem;
      font-family: inherit;
      border-radius: 5px;
      border: 1px solid #bdbdbd;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    }